<div class="okanjo-ad-block {{classDetects}}">
    <div class="okanjo-ad-container okanjo-expansion-root" data-size="{{size}}">
        <!-- Stick the dynamic or creative in here -->
    </div>
    <div class="okanjo-ad-meta">
        <!--suppress HtmlUnknownTarget -->
        <img src="http://cdn.okanjo.com/px/1.gif?n={{ now }}" />
    </div>
</div>