<div class="okanjo-ad-block {{classDetects}}">
    <div class="okanjo-ad-container">
        <!-- Stick the dynamic or creative in here -->
    </div>
    <div class="okanjo-ad-meta">
        <img src="{{#okanjoConfig}}{{#ads}}{{apiUri}}{{/ads}}{{/okanjoConfig}}/metrics/widgets?c=aw&cm={{#config}}{{ content }}{{/config}}&key={{#config}}{{ key }}{{/config}}&n={{now}}" alt="">
    </div>
</div>