<div class="okanjo-resource okanjo-adx">
    <div class="okanjo-adx-container"
         data-size="{{size.width}}x{{size.height}}"
         data-width="{{size.width}}"
         data-height="{{size.height}}"
         data-path="{{adUnitPath}}"
         data-segment="{{segmentIndex}}"
    >
        <!-- insert ad here -->
    </div>
    <div class="okanjo-visually-hidden">
        <!--suppress HtmlUnknownTarget -->
        <img alt="" src="//cdn.okanjo.com/px/1.gif?n={{ now }}" />
    </div>
</div>