<div class="okanjo-adx-block2 {{classDetects}}">
    <div class="okanjo-adx-container okanjo-expansion-root" data-size="{{size.width}}x{{size.height}}">
        <!-- insert ad here -->
    </div>
    <div class="okanjo-visually-hidden">
        <!--suppress HtmlUnknownTarget -->
        <img src="http://cdn.okanjo.com/px/1.gif?n={{ now }}" />
    </div>
</div>