// variables
@font-family-newsprint: "Georgia", serif;
@font-family-modern: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;


// mixins
.clearfix() {
  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }

  &:after {
    clear: both;
  }
}

// inline-block hack for IE 7
.inline-block() {
  display: inline-block;
  .lt-ie8&  {
    display: inline;
    zoom: 1;
  }
}

.visually-hidden() {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.ellipses-after() {
  &:after{
    content: "...";
  }
}


.okanjo-expansion-root {
  position: relative;

  iframe.okanjo-ad-in-unit {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
}

.okanjo-align-start {     display: flex; align-items: flex-start; }
.okanjo-align-end {       display: flex; align-items: flex-end; }
.okanjo-align-center {    display: flex; align-items: center; }
.okanjo-align-baseline {  display: flex; align-items: baseline; }
.okanjo-align-stretch {   display: flex; align-items: stretch; }

.okanjo-justify-start {   display: flex; justify-content: flex-start; }
.okanjo-justify-end {     display: flex; justify-content: flex-end; }
.okanjo-justify-center {  display: flex; justify-content: center; }
.okanjo-justify-between { display: flex; justify-content: space-between; }
.okanjo-justify-around {  display: flex; justify-content: space-around; }
.okanjo-justify-evenly {  display: flex; justify-content: space-evenly; }
