<!--suppress CheckEmptyScriptTag -->
<div class="okanjo-block2 okanjo-expansion-root {{ classDetects }} {{#config}} {{ size }} {{ template_variant }} theme-{{ template_theme }}{{^template_theme}}modern{{/template_theme}} okanjo-cta-style-{{ template_cta_style }}{{^template_cta_style}}link{{/template_cta_style}}{{/config}} okanjo-wgid-{{ instanceId }}">
    <div class="okanjo-resource-list" itemscope itemtype="https://schema.org/ItemList" data-instance-id="{{ instanceId }}">
        {{{ segmentContent }}}
    </div>
    <div class="okanjo-resource-meta okanjo-visually-hidden">
        <!--suppress HtmlUnknownTarget -->
    </div>
</div>