@import "okanjo.core.less";

html.okanjo-modal-active {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  body {
    position: relative !important;
    overflow: hidden !important;
    margin: 0;
  }
}

.okanjo-modal-margin-fix {
  margin-right: 15px !important;
}

.okanjo-modal-container {
  position: absolute;

  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  z-index: 2147483647; // int max, baby

  &.lt-ie9 {
    //  background-color: #000;
    //  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32000000', endColorstr='#32000000',GradientType=0 ); /* IE6-9 */
    //  zoom: 1;

    // ^ Don't do that, because IE8 doesn't treat event handling / bubbling right with that filter crap, instead: force a bg image
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGNiWAoAAK4AqL41IDIAAAAASUVORK5CYII=);
  }

  background-color: rgba(0, 0, 0, .65);
  transition-duration: 210ms;
  transition-property: background-color;

  &.okanjo-modal-fade-out {
    background-color: rgba(0, 0, 0, 0);

    .okanjo-modal-window {
      opacity: 0;
      transform: scale(.95, .95) translateY(50px);
    }
  }

  &.okanjo-modal-hidden {
    display: none !important;
  }

  .okanjo-modal-window {

    .clearfix();

    position: relative;
    max-width: 900px;
    width: 90%;
    background: transparent;
    margin: 40px auto;
    opacity: 1;

//    min-height: 600px;

    transform: scale(1, 1) translateY(0px);
    transition-duration: 210ms;
    //noinspection CssOverwrittenProperties
    transition-timing-function: cubic-bezier(0.130, 0.025, 0.150, 1); /* older webkit */
    //noinspection CssOverwrittenProperties
    transition-timing-function: cubic-bezier(0.130, 0.025, 0.150, 1.15);

    transition-property: -webkit-transform, opacity;

    .okanjo-modal-header {
      padding-top: 5px;
      padding-bottom: 5px;
      border-bottom: 1px solid #d7d7d7;

      img {
        height: 50px;
        width: auto;
      }
    }
  }

  .okanjo-modal-window-skin {
    width: auto;
    height: auto;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    position: absolute;
    background: white;
    border-radius: 4px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .okanjo-modal-window-outer {
    position: absolute;
    top: 15px;
    left: 15px;
    bottom: 15px;
    right: 15px;
    vertical-align: top;
  }

  .okanjo-modal-window-inner {
    position: relative;
    width: 100%;
    height: 100%;
    //noinspection CssUnknownProperty
    -webkit-overflow-scrolling: touch;
    overflow: auto;

    iframe {
      height: 100%;
      width: 100%;
      margin-right: -15px;
    }

  }

  /* Close Button */
  .okanjo-modal-close-button {
    color: #ffffff;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: -48px;

    text-align: right;

    font-size: 40px;
    line-height: 1em;
    overflow: visible;

    width: 40px;
    height: 40px;
  }
}