{{#resources}}
    <div class="okanjo-resource okanjo-product {{#config}}{{ template_layout }}{{/config}}" itemscope itemtype="https://schema.org/Product">
        <a href="//{{ okanjoMetricUrl }}/metrics/pr/int?m[bot]=true&id={{ id }}&{{ metricParams }}&n={{ now }}&u={{ _escaped_buy_url }}"
            data-id="{{ id }}"
            data-index="{{ _index }}"
            data-segment="{{ _segmentIndex }}"
            data-type="product"
            data-backfill="{{ backfill }}"
            target="_blank"
            itemprop="url"
            title="Buy now: {{ name }}"
        >
            <div class="okanjo-resource-image-container">
                <img alt="" class="okanjo-resource-image {{ fitImage }}" src="{{ _image_url }}" title="{{ name }}" itemprop="image" data-id="{{ id }}"/>
            </div>
            <div class="okanjo-resource-info-container">
                <div class="okanjo-resource-seller-container" itemprop="seller" itemscope itemtype="https://schema.org/Organization">
                    <span class="okanjo-resource-seller" itemprop="name" title="{{ store_name }}">{{ store_name }}{{^store_name}}&nbsp;{{/store_name}}</span>
                </div>
                <div class="okanjo-resource-title-container">
                    <span class="okanjo-resource-title" itemprop="name">{{ name }}</span>
                </div>
                <div>
                    <div class="okanjo-resource-price-container {{price_classes}}">
                        <span content="{{ currency }}">$</span><span class="okanjo-resource-price" >{{ _price_formatted }}</span>
                    </div>
                    <div class="okanjo-resource-button-container">
                        <div class="okanjo-resource-buy-button {{button_classes}}"><span>{{ meta.cta_text }}{{^meta.cta_text}}{{#config}}{{ template_cta_text }}{{^template_cta_text}}Shop Now{{/template_cta_text}}{{/config}}{{/meta.cta_text}}</span></div>
                        <meta property="url" itemprop="url" content="//{{ okanjoMetricUrl }}/metrics/pr/int?m[bot]=true&m[microdata]=true&id={{ id }}&{{ metricParams }}&n={{ now }}&u={{ _escaped_buy_url }}" />
                    </div>
                </div>
                <div class="okanjo-resource-meta okanjo-visually-hidden">
                    {{#impression_url}}<img src="{{ impression_url }}" alt="">{{/impression_url}} <!-- Vendor impression tracking URL -->
                    {{#upc}}<span itemprop="productID">upc:{{ upc }}</span>{{/upc}}
                    {{#manufacturer}}<span itemprop="manufacturer">{{ manufacturer }}</span>{{/manufacturer}}
                    <img alt="" src="//cdn.okanjo.com/px/1.gif?n={{ now }}" />
                </div>
            </div>
        </a>
    </div>
{{/resources}}