<div class="okanjo-product-block {{classDetects}}">
    <ul class="okanjo-product-list" itemscope itemtype="http://schema.org/ItemList">
    {{#products}}
        <li class="okanjo-product" itemscope itemtype="http://schema.org/Product">
            <a href="http://{{okanjoMetricUrl}}/metrics/{{ id }}?c={{#config}}{{ metrics_context }}{{/config}}&cm={{#config}}{{ mode }}{{/config}}&key={{#config}}{{ key }}{{/config}}&n={{ now }}&u={{ escaped_buy_url }}"
               data-inline-buy-url-base="//{{okanjoMetricUrl}}/metrics/{{ id }}?c={{#config}}{{ metrics_context }}{{/config}}&a=inline_click&cm={{#config}}{{ mode }}{{/config}}&key={{#config}}{{ key }}{{/config}}"
               data-inline-buy-url="{{ inline_buy_url }}"
               data-expandable="{{#config}}{{ expandable }}{{/config}}"
               data-id="{{ id }}"
               target="_blank"
               itemprop="url"
               title="Buy now: {{ name }}">
                <div class="okanjo-product-image-container">
                    <img class="okanjo-product-image" src="{{ image_url }}" title="{{ name }}" itemprop="image">
                </div>
                <div class="okanjo-product-title-container">
                    <span class="okanjo-product-title" itemprop="name">{{ name }}</span>
                </div>
                <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                    <div class="okanjo-product-price-container">
                        <span itemprop="priceCurrency" content="{{ currency }}">$</span><span class="okanjo-product-price" itemprop="price">{{ price }}</span>
                    </div>
                    <div class="okanjo-product-button-container">
                        <div class="okanjo-product-buy-button">Buy Now</div>
                        <meta itemprop="url" content="http://{{okanjoMetricUrl}}/metrics/{{ id }}?c={{#config}}{{ metrics_context }}{{/config}}&cm={{#config}}{{ mode }}{{/config}}&key={{#config}}{{ key }}{{/config}}&n={{ now }}&u={{ escaped_buy_url }}">
                    </div>
                    {{#sold_by}}
                        <div class="okanjo-product-seller-container" itemprop="seller" itemscope itemtype="http://schema.org/Organization">
                            <span><span class="okanjo-product-seller-intro">Sold by</span>&#32;<span class="okanjo-product-seller" itemprop="name" title="{{ sold_by }}">{{ sold_by }}</span></span>
                        </div>
                    {{/sold_by}}
                </div>
                <div class="okanjo-product-meta okanjo-visually-hidden">
                    <img src="{{#okanjoConfig}}{{#ads}}{{apiUri}}{{/ads}}{{/okanjoConfig}}/metrics/{{ id }}?c={{#config}}{{ metrics_context }}{{/config}}&cm={{#config}}{{ mode }}{{/config}}&key={{#config}}{{ key }}{{/config}}&n={{now}}" alt=""> {{! Okanjo impression tracking URL }}
                    {{#impression_url}}<img src="{{impression_url}}" alt="">{{/impression_url}} <!-- Vendor impression tracking URL -->
                    {{#upc}}<span itemprop="productID">upc:{{upc}}</span>{{/upc}}
                    {{#manufacturer}}<span itemprop="manufacturer">{{manufacturer}}</span>{{/manufacturer}}
                </div>
            </a>
        </li>
    {{/products}}
    </ul>
    <div class="okanjo-product-meta">
        <!--suppress HtmlUnknownTarget -->
        <img src="{{#okanjoConfig}}{{#ads}}{{apiUri}}{{/ads}}{{/okanjoConfig}}/metrics/widgets?c={{#config}}{{ metrics_context }}{{/config}}&cm={{#config}}{{ mode }}{{/config}}&key={{#config}}{{ key }}{{/config}}&n={{now}}" alt="">
    </div>
</div>