<div class="{{template_name}} okanjo-expansion-root {{classDetects}} {{#config}} {{ size }} okanjo-cta-style-{{ template_cta_style }}{{^template_cta_style}}link{{/template_cta_style}}{{/config}} okanjo-product-block2-cus-{{blockId}}">
    <div class="okanjo-product-list" itemscope itemtype="http://schema.org/ItemList">
    {{#products}}
        <div class="okanjo-product {{#config}}{{ template_layout }}{{/config}}" itemscope itemtype="http://schema.org/Product">
            <a href="//{{okanjoMetricUrl}}/metrics/pr/int?m[bot]=true&id={{ id }}&ch={{#config}}{{ metrics_context }}{{/config}}&cx={{#config}}{{ metrics_channel_context }}{{/config}}&key={{#config}}{{ key }}{{/config}}&n={{ now }}&u={{ escaped_buy_url }}"
               data-inline-buy-url="{{ inline_buy_url }}"
               data-buy-url="{{ buy_url }}"
               data-metric-url="//{{okanjoMetricUrl}}/metrics/pr/int?id={{ id }}&ch={{#config}}{{ metrics_context }}{{/config}}&cx={{#config}}{{ metrics_channel_context }}{{/config}}&key={{#config}}{{ key }}{{/config}}"
               data-proxy-url="{{ proxy_url}}"
               data-expandable="{{#config}}{{ expandable }}{{/config}}"
               data-channel="{{#config}}{{ metrics_context }}{{/config}}"
               data-context="{{#config}}{{ metrics_channel_context }}{{/config}}"
               data-article-id="{{ article_id }}"
               data-placement-enabled="{{ placement_test_enabled }}"
               data-placement-test="{{ placement_test_id }}"
               data-placement-seed="{{ placement_test_seed }}"
               data-disable-popup="{{ disable_popup }}"
               data-instance-id="{{ instanceId }}"
               data-id="{{ id }}"
               target="_blank"
               itemprop="url"
               title="Buy now: {{ name }}">
                <div class="okanjo-product-image-container">
                    <img class="okanjo-product-image" src="{{ image_url }}" title="{{ name }}" itemprop="image">
                </div>
                <div class="okanjo-product-info-container">
                    <div class="okanjo-product-seller-container {{#config}}{{ template_theme }}{{/config}}" itemprop="seller" itemscope itemtype="http://schema.org/Organization">
                        <span class="okanjo-product-seller" itemprop="name" title="{{ sold_by }}">{{ sold_by }}{{^sold_by}}&nbsp;{{/sold_by}}</span>
                    </div>
                    <div class="okanjo-product-title-container {{#config}}{{ template_theme }}{{/config}}">
                        <span class="okanjo-product-title" itemprop="name">{{ name }}</span>
                    </div>
                    <div  >
                        <div class="okanjo-product-price-container">
                            <span content="{{ currency }}">$</span><span class="okanjo-product-price" >{{ price_formatted }}</span>
                        </div>
                        <div class="okanjo-product-button-container">
                            <div class="okanjo-product-buy-button"><span>{{meta.cta_text}}{{^meta.cta_text}}{{#config}}{{ template_cta_text }}{{^template_cta_text}}Shop Now{{/template_cta_text}}{{/config}}{{/meta.cta_text}}</span></div>
                            <meta property="url" itemprop="url" content="//{{okanjoMetricUrl}}/metrics/pr/int?m[bot]=true&m[microdata]=true&id={{id}}&ch={{#config}}{{ metrics_context }}{{/config}}&cx={{#config}}{{ metrics_channel_context }}{{/config}}&key={{#config}}{{ key }}{{/config}}&n={{ now }}&u={{ escaped_buy_url }}">
                        </div>

                    </div>
                    <div class="okanjo-product-meta okanjo-visually-hidden">
                        {{#impression_url}}<img src="{{impression_url}}" alt="">{{/impression_url}} <!-- Vendor impression tracking URL -->
                        {{#upc}}<span itemprop="productID">upc:{{upc}}</span>{{/upc}}
                        {{#manufacturer}}<span itemprop="manufacturer">{{manufacturer}}</span>{{/manufacturer}}
                    </div>
                </div>
            </a>
        </div>
    {{/products}}
    </div>
    <div class="okanjo-product-meta okanjo-visually-hidden">
        <!--suppress HtmlUnknownTarget -->
    </div>
</div>