<div class="{{template_name}} okanjo-expansion-root {{classDetects}}">
    <ul class="okanjo-product-list" itemscope itemtype="http://schema.org/ItemList"
        data-metric-json="{{ metricBaseJSON }}"
        data-proxy-url="{{ proxy_url}}"
        data-expandable="{{#config}}{{ expandable }}{{/config}}"
        data-disable-popup="{{ disable_popup }}"
        data-instance-id="{{ instanceId }}">
        {{! dont change the structure below, click events use a.parentNode.parentNode to access these data attributes! }}
    {{#products}}
        <li class="okanjo-product" itemscope itemtype="http://schema.org/Product">
            <a href="//{{okanjoMetricUrl}}/metrics/pr/int?m[bot]=true&id={{ id }}&ch={{#config}}{{ metrics_context }}{{/config}}&cx={{#config}}{{ metrics_channel_context }}{{/config}}&key={{#config}}{{ key }}{{/config}}&n={{ now }}&u={{ escaped_buy_url }}"
               data-id="{{ id }}"
               data-backfill="{{ backfill }}"
               data-inline-buy-url="{{ inline_buy_url }}"
               data-buy-url="{{ buy_url }}"
               data-buy-url-param="{{ buy_url_track_param }}"
               target="_blank"
               itemprop="url"
               title="Buy now: {{ name }}">
                <div class="okanjo-product-image-container">
                    <img class="okanjo-product-image" src="{{ image_url }}" title="{{ name }}" itemprop="image">
                </div>
                <div class="okanjo-product-title-container">
                    <span class="okanjo-product-title" itemprop="name">{{ name }}</span>
                </div>
                <div >
                    <div class="okanjo-product-price-container">
                        <span content="{{ currency }}">$</span><span class="okanjo-product-price" >{{ price_formatted }}</span>
                    </div>
                    <div class="okanjo-product-button-container">
                        <div class="okanjo-product-buy-button">Buy Now</div>
                        <meta property="url" itemprop="url" content="//{{okanjoMetricUrl}}/metrics/pr/int?m[bot]=true&m[microdata]=true&id={{id}}&ch={{#config}}{{ metrics_context }}{{/config}}&cx={{#config}}{{ metrics_channel_context }}{{/config}}&key={{#config}}{{ key }}{{/config}}&n={{ now }}&u={{ escaped_buy_url }}">
                    </div>
                    {{#sold_by}}
                        <div class="okanjo-product-seller-container" itemprop="seller" itemscope itemtype="http://schema.org/Organization">
                            <span><span class="okanjo-product-seller-intro">From</span>&#32;<span class="okanjo-product-seller" itemprop="name" title="{{ sold_by }}">{{ sold_by }}</span></span>
                        </div>
                    {{/sold_by}}
                </div>
                <div class="okanjo-product-meta okanjo-visually-hidden">
                    {{#impression_url}}<img src="{{impression_url}}" alt="">{{/impression_url}} <!-- Vendor impression tracking URL -->
                    {{#upc}}<span itemprop="productID">upc:{{upc}}</span>{{/upc}}
                    {{#manufacturer}}<span itemprop="manufacturer">{{manufacturer}}</span>{{/manufacturer}}
                    <img src="http://cdn.okanjo.com/px/1.gif?n={{ now }}" />
                </div>
            </a>
        </li>
    {{/products}}
    </ul>
    <div class="okanjo-product-meta okanjo-visually-hidden">
        <!--suppress HtmlUnknownTarget -->
    </div>
</div>